requests~=2.25.1
callr~=2.1.0
selenium~=3.141.0
notify-py~=0.3.1
msedge-selenium-tools~=3.141.3
configparser~=5.0.1
pyfiglet~=0.8.post1
PyInquirer~=1.0.3
pyconfigstore3~=1.0.1
termcolor~=1.1.0
six~=1.15.0
rich~=9.8.2